<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles.css">
  
        <title>CowinWatch</title>
    
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <img src="images/logo.jpg" alt="" width="50" height="40" id="s_logo">
                    CowinWatch
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#to_intro">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#to_command">Commands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#to_demo">Demo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="below_nav">
        <div id="pic">
            <img src="images/logo.jpg" id = "logo" alt="Bot Icon">
        </div>
        <p class="fs-1">CowinWatch</p>
        <p class="fs-5">Book it, Jab it</p>
    
        <div id="link">
            <a href="https://discord.com/api/oauth2/authorize?client_id=843734614056108042&permissions=92160&scope=bot"><button type="button" class="btn btn-outline-warning">Add to your Discord server</button></a>
        </div>
        </div>

        <a id="to_intro"></a>
        <div id="intro">
            <h1>
                Introduction
            </h1>
            <p>
                In these problematic times when Covid-19 is doing serious damage to people in India, the nationwide vaccination program started by the government is a ray of hope for people.
                However the massive population of India overshadows the limited number of vaccination centres. People are unable to book a slot for vaccination. The moment, they become aware of available slots, its already booked.
            </p>
            <p>    
                This is where CowinWatch comes to play.
                All you need to do is register on it with your age and district and it will start providing you hourly notifications regarding slots availability.
            </p>
            <p>    
                Sounds easy enough. Try it.
            </p>
            <p> Note: Its a Discord Bot and will work on that platform only.</p>
        </div>

        
        <a id="to_command"></a>
        <div id="command">
            <h1>
                Commands
            </h1>
            <p>
                <table style="width:80%">
                    <tr>
                      <th>Command</th>
                      <th>Use</th>
                    </tr>
                    <tr>
                      <td>*help</td>
                      <td>To view all commands. Registration not required.</td>
                    </tr>
                    <tr>
                        <td>*start</td>
                        <td>To begin the registration process and private message between bot and user. 
                          <br>One time use command. Not required after registration.
                        </td>
                    </tr>
                    <tr>
                        <td>*register &ltage&gt &ltdistrict&gt</td>
                        <td>To register a user with age and district 
                            <br>For eg. *register 20 ernakulam<br>This registers a user in group of 18+ and in district Ernakulam.
                        </td>
                    </tr>
                      <tr>
                        <td>*my_det</td>
                        <td>To get details of registered user.<br>REGISTRATION REQUIRED
                        </td>
                      </tr>
                      <tr>
                        <td>*upd &ltage&gt</td>
                        <td>To update a user's age (REGISTRATION REQUIRED) 
                            For eg. *upd 45 :-This changes the age of user to 45
                          </td>
                      </tr>
                      <tr>
                        <td>*upd &ltdistrict&gt</td>
                        <td>To update a user's district (REGISTRATION REQUIRED).<br>
                            For eg. *upd Thrissur <br>This changes the district of user to Thrissur
                        </td>
                      </tr>
                      <tr>
                        <td>*slots</td>
                        <td>To manually get the slots of the selected district (REGISTRATION REQUIRED) 
                            <br>User can give this command in the DM to get slots availability.
                        </td>
                      </tr>
                      <tr>
                        <td>*on</td>
                        <td>To subscribe to hourly updates of available slots (REGISTRATION REQUIRED)
                        </td>
                      </tr>
                      <tr>
                        <td>*off</td>
                        <td>To unsubscribe from hourly updates of available slots (REGISTRATION REQUIRED)
                        </td>
                      </tr>
                  </table>
            </p>
        </div>

        <a id="to_demo"></a>
        <div id= "demo">
            <h1 id="sp">
                Demo
            </h1>
            <div class="row">
                <div class="column">
                  <img src="images/demo_1.png" alt="Snow" style="width:80%">
                </div>
                <div class="column">
                  <img src="images/demo_2.png" alt="Forest" style="width:80%">
                </div>
                <div class="column">
                  <img src="images/demo_3.png" alt="Mountains" style="width:80%">
                </div>
                <div class="column">
                    <img src="images/demo_4.png" alt="Mountains" style="width:80%">
                  </div>
              </div>
        </div>
        <div id="bottom">
        Developed and managed by Utkrisht Pathak.
        <div>
            <a href="https://www.linkedin.com/in/utkrisht-pathak-a9111a1b0/"><img src="images/Linked_in.svg" width="30px" height="30px"></a>
            <a href="https://github.com/UtkrishtPathak"><img src="images/Github.png" width="30px" height="30px"></a>
        </div>
        </div>
        
        

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>
